* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #689968;
}

.container {
  width: 70%;
  max-width: 500px;
  padding: 3em;
  margin: auto;
  margin-top: 3em;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  text-align: center;
}

.container header {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: auto;
}

.container form {
  width: 90%;
  margin: auto;
  display: flex;
  margin-top: 1em;
  flex-direction: column;
  gap: 0.5em;
}

.container form input {
  padding: 1em;
  border-radius: 20px;
  border: 1px solid #689968;
}

.container form button {
  padding: 1em;
  border-radius: 20px;
  border: none;
  background-color: #689968;
  color: white;
  font-weight: bolder;
}

.container form button:hover {
  background-color: #496949;
}

.imagem {
  margin: auto;
  margin-top: 2em;
  width: 90%;
  max-width: 400px;
}
